<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Convertir Peso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- Entrada para el valor inicial -->
    <ion-item>
      <ion-label position="floating">Peso Inicial</ion-label>
      <ion-input type="number" [(ngModel)]="inputValue"></ion-input>
    </ion-item>

    <!-- Selección de la unidad de entrada -->
    <ion-card-header>
      <ion-label>Unidad de Entrada</ion-label>
    </ion-card-header>
    <ion-list>
      <ion-radio-group
        [(ngModel)]="inputUnit"
        (ionChange)="selectInputUnit($event.detail.value)"
      >
        <ion-item>
          <ion-radio slot="start" value="ton"></ion-radio>
          <ion-label>Tonelada (ton)</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="kg"></ion-radio>
          <ion-label>Kilogramo (kg)</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="g"></ion-radio>
          <ion-label>Gramo (g)</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="lb"></ion-radio>
          <ion-label>Libra (lb)</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- Selección de la unidad de salida -->
    <ion-card-header>
      <ion-label>Unidad de Salida</ion-label>
    </ion-card-header>
    <ion-list>
      <ion-radio-group
        [(ngModel)]="outputUnit"
        (ionChange)="selectOutputUnit($event.detail.value)"
      >
        <ion-item>
          <ion-radio slot="start" value="ton"></ion-radio>
          <ion-label>Tonelada (ton)</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="kg"></ion-radio>
          <ion-label>Kilogramo (kg)</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="g"></ion-radio>
          <ion-label>Gramo (g)</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="lb"></ion-radio>
          <ion-label>Libra (lb)</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- Botón para realizar la conversión -->
    <ion-button expand="full" (click)="convert()">Convertir</ion-button>

    <!-- Resultado de la conversión -->
    <ion-card-content *ngIf="result !== null">
      <h2>Resultado: {{ result }}</h2>
    </ion-card-content>
    <ion-card-content *ngIf="!inputUnit || !outputUnit">
      <h2>Selecciona una unidad de entrada y salida válidas.</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
