<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Convertir Peso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- Entrada para el valor inicial -->
    <ion-item>
      <ion-label position="floating">Medida Inicial</ion-label>
      <ion-input type="number" [(ngModel)]="inputValue"></ion-input>
    </ion-item>

    <!-- Selección de la unidad de entrada -->
    <ion-item>
      <ion-label>Unidad de Entrada</ion-label>
      <ion-select [(ngModel)]="inputUnit">
        <ion-select-option value="ton">Tonelada</ion-select-option>
        <ion-select-option value="kg">Kilogramo</ion-select-option>
        <ion-select-option value="g">Gramo</ion-select-option>
        <ion-select-option value="lb">Libra</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selección de la unidad de salida -->
    <ion-item>
      <ion-label>Unidad de Salida</ion-label>
      <ion-select [(ngModel)]="outputUnit">
        <ion-select-option value="ton">Tonelada</ion-select-option>
        <ion-select-option value="kg">Kilogramo</ion-select-option>
        <ion-select-option value="g">Gramo</ion-select-option>
        <ion-select-option value="lb">Libra</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para realizar la conversión -->
    <ion-button expand="full" (click)="convert()">Convertir</ion-button>

    <!-- Resultado de la conversión -->
    <ion-card-content>
      <h2>Resultado: {{ result }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
