<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Convertir Temperatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- Entrada para el valor inicial -->
    <ion-item>
      <ion-label position="floating">Temperatura Inicial</ion-label>
      <ion-input type="number" [(ngModel)]="inputValue"></ion-input>
    </ion-item>

    <!-- Checkboxes para la unidad de entrada -->
    <ion-card-header>
      <ion-label>Unidad de Entrada</ion-label>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="inputUnit === 'C'"
          (ionChange)="selectInputUnit('C')"
        >
        </ion-checkbox>
        <ion-label>Celsius (C)</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="inputUnit === 'F'"
          (ionChange)="selectInputUnit('F')"
        >
        </ion-checkbox>
        <ion-label>Fahrenheit (F)</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="inputUnit === 'K'"
          (ionChange)="selectInputUnit('K')"
        >
        </ion-checkbox>
        <ion-label>Kelvin (K)</ion-label>
      </ion-item>
    </ion-list>

    <!-- Checkboxes para la unidad de salida -->
    <ion-card-header>
      <ion-label>Unidad de Salida</ion-label>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="outputUnit === 'C'"
          (ionChange)="selectOutputUnit('C')"
        >
        </ion-checkbox>
        <ion-label>Celsius (C)</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="outputUnit === 'F'"
          (ionChange)="selectOutputUnit('F')"
        >
        </ion-checkbox>
        <ion-label>Fahrenheit (F)</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox
          slot="start"
          [checked]="outputUnit === 'K'"
          (ionChange)="selectOutputUnit('K')"
        >
        </ion-checkbox>
        <ion-label>Kelvin (K)</ion-label>
      </ion-item>
    </ion-list>

    <!-- Botón para realizar la conversión -->
    <ion-button expand="full" (click)="convert()">Convertir</ion-button>

    <!-- Resultado de la conversión -->
    <ion-card-content>
      <h2>
        Resultado: {{ result !== null ? result : 'Selecciona una unidad de
        entrada y salida válidas' }}
      </h2>
    </ion-card-content>
  </ion-card>
</ion-content>
